{%- set target_domains = domains or [] %}
{%- set entity_results = [] %}
{%- set device_results = [] %}
{%- set seen_devices = [] %}
{%- for s in states %}
  {%- if s.entity_id %}
    {%- set dev_id = device_id(s.entity_id) %}
    {%- set raw_identifiers = device_attr(dev_id, 'identifiers') if dev_id else [] %}
    {%- set identifiers_list = raw_identifiers | default([], true) | list %}
    {%- set first_identifier = identifiers_list | first %}
    {%- if first_identifier is iterable and first_identifier is not string and first_identifier | length >= 1 %}
      {%- set integration = first_identifier[0] %}
    {%- elif first_identifier %}
      {%- set integration = first_identifier %}
    {%- else %}
      {%- set integration = None %}
    {%- endif %}
    {%- if integration in target_domains %}
      {%- set entity = {
        'entity_id': s.entity_id,
        'name': s.name,
        'original_name': s.attributes.get('friendly_name'),
        'device_id': dev_id,
        'area_id': area_id(s.entity_id),
        'unique_id': state_attr(s.entity_id, 'unique_id'),
        'state': s.state,
        'attributes': s.attributes,
        'disabled_by': state_attr(s.entity_id, 'disabled_by'),
        'integration_id': integration
      } %}
      {%- set entity_results = entity_results + [entity] %}

      {%- if dev_id %}
        {%- set normalized_identifiers = [] %}
        {%- for identifier in identifiers_list %}
          {%- if identifier is iterable and identifier is not string %}
            {%- set normalized_identifiers = normalized_identifiers + [identifier | list] %}
          {%- else %}
            {%- set normalized_identifiers = normalized_identifiers + [identifier] %}
          {%- endif %}
        {%- endfor %}

        {%- if dev_id not in seen_devices %}
          {%- set device_info = {
            'id': dev_id,
            'name': device_attr(dev_id, 'name'),
            'name_by_user': device_attr(dev_id, 'name_by_user'),
            'manufacturer': device_attr(dev_id, 'manufacturer'),
            'model': device_attr(dev_id, 'model'),
            'sw_version': device_attr(dev_id, 'sw_version'),
            'configuration_url': device_attr(dev_id, 'configuration_url'),
            'area_id': area_id(dev_id),
            'via_device_id': device_attr(dev_id, 'via_device_id'),
            'identifiers': normalized_identifiers,
            'integration_id': integration
          } %}
          {%- set device_results = device_results + [device_info] %}
          {%- set seen_devices = seen_devices + [dev_id] %}
        {%- endif %}
      {%- endif %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{{ {'entities': entity_results, 'devices': device_results} | to_json }}
